@import "../_variables.scss";

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;

    

    .intro-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        > * {
            margin: 20px 0;
        }

        a {
            @extend %xyz-button;
        }
    }

}