@import "../_variables.scss";

#header {
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    background-color: $xyz-primary-color;
    padding: 0 20px;
    #logo {
        color: #fff;
    }

    .header-link-container {
        > * {
            color: #fff;
        }
        a {
            margin: 0 20px;
        }
    }
}