.loading-indicator {
  color: #ffffff;
}

.quote-success-view, .quote-failure-view {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  z-index: 1;
  width: 100%;
}
.quote-success-view h1, .quote-failure-view h1 {
  color: #4652af;
}

.quote-failure-view h1 {
  color: darkred;
}
.quote-failure-view .quote-failure-error-reason {
  margin-left: 10px;
}
