$xyz-primary-color: #4652af;

%xyz-button {
    background-color: $xyz-primary-color;
    color: #fff;
    width: 150px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: none;
}